@import "tailwindcss";

:root {
  --page-px: 1rem;
  --header-h: 6rem;
}

@media (min-width: 640px) {
  :root {
    --page-px: 2rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-px: 4rem;
  }
}

@theme inline {
  --color-darkest-blue: #01020D;

  --color-fore-primary: #FFFFFF;
  --color-fore-secondary: #F6F6F6;
  --color-fore-terciary: rgba(231, 231, 231, 0.8);

  --color-btn-primary-text: #212121;
  --color-btn-primary-icons: #5D5D5D;

  /* Fonts */
  --font-geist: var(--font-geist-sans), sans-serif;
  --font-geist-mono: var(--font-geist-mono), monospace;
  --font-basker: var(--font-baskervville), serif;
  --font-plus: var(--font-plus-jakarta-sans), sans
}

@utility button {
  @apply not-disabled:cursor-pointer hover:brightness-[120%] transition-all active:scale-95 active:brightness-95 disabled:scale-100 disabled:brightness-50 disabled:pointer-events-none select-none;
}